/*Fontovi*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.spinning-image {
    animation: spin 2s ease-in-out infinite;
    width: 50vh;
    height: 30vh;
  }
.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:black;
    z-index:1000000;
    margin: 0;
    padding: 0;
  }
#scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: black;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
#scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
#scroll-up-btn:hover {
    filter: brightness(10%);
}
#wrap_head {
    background-color: white;
}
.sticky {
    position: sticky;
    top:0;
    z-index: 99;
}
/*Banner */
#banner_contain {
    width: 100%;
    background-color:#3d3d3c;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#banner_content {
    width: 86%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#banner_content a {
    color: white;
    font-size: 0.90rem;
}
#banner_content a:last-of-type{
    font-weight: bold;
    font-size: 0.85rem;
}
/*Main header */
#header {
    width: 86%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#header > a {
    margin-left: 19%;
}
#header_menu ul {
    display: flex;
}
#header_menu ul li {
    margin-left: 1rem;
}
#header_menu ul li a {
    text-transform: uppercase;
    color: black;
    font-size: 0.9rem;
}
#header_menu li:first-of-type {
    margin-left: 0;
}
li.active a {
    font-weight: bold;
}
h1 {
    font-weight: 1000;
    font-size: 3rem;
}
input[type="search"] {
    width: 20rem;
}
/* Secondary header */
#header_hover{
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}
.oboji {
    width: 100%;
    height: 50px;
    background-color: black;

}
#header_hover ul {
    width: 66%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
#header_hover.centered-links ul {
    justify-content:space-around;
  }
  #header_hover ul li {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}
#header_hover ul li a {
    color: white;
    font-size: 0.8rem;
}
#header_hover ul li a:hover {
    font-weight: bolder;
}
/*Image slider */
.custom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 60%;
    /*transform: translateY(-50%);*/
    z-index: 1;
}
#prev {
    left: 6rem;
}

#next {
    right: 6rem;
}
#slider {
    width: 86%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#slider img {
    width: 100%;
}
#indicators-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.slider-indicator {
    width: 60px;
    border-radius: 5px;
    height: 2px; 
    background-color: #c0c0c0;
    margin: 0 30px; 
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.05s ease; 
}
.slider-indicator.active-indicator {
    background-color:#3d3d3c; 
}
/*Products*/
.h1 {
    text-align: center;
    font-weight: bolder;
    color: #3d3d3c;
    font-size: 2rem;
    margin-top: 2.5rem;
}
.newArrivals {
    width: 84%;
    margin: 2.5rem auto;
    display: flex;
}
.newArrivalsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16.66666666666667%;
    
}

.newArrivalsItem img {
    width: 90%;
    height: 60%;
}
.newArrivalsItem h3 {
    font-weight: bolder;
}
.newArrivalsItem p {
    margin-top: 1rem;
    font-size: 1rem;
}
.newArrivalsItem h4 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
}
.newArrivalsItem .heart {
    position:relative;
    width: 10%;
    height: 10%;
    top: -90%;
    left: 50%;
}
.price_old {
    text-decoration: line-through;
    font-weight: bolder;
}
.discount_price {
    color: red;
    font-weight: bolder;

}
/* Banners*/
.banners {
    width: 86%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.banner{
    width: 32.5%;
}
.banner a img {
    width: 100%;
}
#banner_open {
    display: none;
    width: 60rem;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 1000;
}
#banner_open a {
    position: absolute;
    left: 45%;
    top: 93%;
    color: white;
    padding-top: 0.3rem;
    text-transform: uppercase;
   font-weight: bold;
}
#banner_open #banner_bg {
    max-width: 100%;
    max-height: 100%;
    /*padding-bottom: 1rem;*/
}
#banner_open #close {
    position: absolute;
    left: 95%;
    top: 1%;
}
.brands {
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin: 2.5rem auto;
}
.brands_we_love {
    width: 45%;
}
.brands_we_love img {
    max-width: 100%;
    max-height: 100%;
}
h2 {
    color: #3d3d3c;
}
#newsletter {
    width: 100%;
    background-color: yellow;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
#newsletter_content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items:center;
    padding-top: 2rem;
}
#form_news {
    margin-left: 10rem;
}
#news-mail {
    padding: 0.8rem;
    width: 17rem;
    text-align: center; 
}
#send_news {
    width: 17rem;
    padding: 0.8rem;
    margin-left: 0.5rem;
    background-color:#3d3d3c;
    color: whitesmoke;
}
#news_agree {
    margin-top: 2rem;
    background-color: #3d3d3c;
    width: 20px;
}
.danger {
    color: red;
    display: none;
    margin-top: 0.9rem;
    font-size: 12px
}




/*Kontakt*/
#kontakt {
    width: 600px;
    height: 500px;
    /*border: 2px solid black;*/
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
   
}
#kontakt a {
    color: #3d3d3c;
    margin-top: 1.5rem;
}
#kontakt a:last-of-type {
    margin-top: 0.5rem;
}
#kontakt p {
    margin-top: 0.5rem;
    margin-left: 2rem;
    color:#3d3d3c;
}
#kontakt p:nth-of-type(2) {
    margin-left: 0;
}
#kontakt i {
    margin-right: 1rem;
}
#kontakt a:hover {
    text-decoration: underline;
}
#kontakt h2 {
    font-size: 2rem;
}
#kontakt h3 {
    margin-top: 3rem;
    color: #3d3d3c;
    font-weight: bold;
}
#kontakt_forme {
    margin-top: 1rem;
}
#kontakt_forme p {
    margin-left: 0;
    margin-top: 2rem;
}
#tekst_ime, #tekst_prezime, #tekst_mejl, #lozinka {
    margin-top: 0.5rem;
    height: 40px;
    width: 100%;
    background-color: white;
    border: 2px solid #c0c0c0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    font-size: medium;
}
.toggle-password {
    position: relative;
    left: 99%;
    bottom: 4.5%;
  }

#chekovi {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between
}
#chekovi p {
    margin-top: 0;
}
#chekovi span {
    color:#3d3d3c;
}
#countries, #cities {
    margin-top: 1rem;
    width: 52%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#countries p, #cities p {
    margin-top: 0;
}
#drzave, #gradovi {
    width: 10rem;
}
#agreements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}
#agreements span {
    color: #3d3d3c;
    font-size: 0.8rem;
}
#polje_tekst {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: white;
    border: 2px solid #c0c0c0;
    font-size: medium;
}
#posalji {
    margin-top: 1rem;
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    background-color:#3d3d3c;
    width: 40%;
    height: 2.1rem;
    color: white;
    font-size: medium;
}
.disabled {
    opacity: 0.5;
}
.dangermsg {
    color:red;
    font-size: small;
}
#specijalni {
    margin-left: -1.5rem;
}
#potvrdi {
    display: flex;
    align-items: center;
}
#success {
    color: green;
    display: none;
    margin-left:1rem;
    margin-top: 0.8rem;
}
  
#about {
    width: 86%;
    margin: 2rem auto;
    /*border: 2px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
#about_add {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.line {
    width: 4rem;
    height: 3px;
    background-color: black;
}
.line:first-of-type {
    margin-right: 0.5rem;
}
.line:last-of-type {
    margin-left: 0.5rem;
}
#about_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    border-radius: 1rem;
}
#pic_container {
    /*width: 49%;*/

    height: 30rem;
}
#pic_container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
#text_container {
    width: 49%;
    border-radius: 1rem;
    font-size: 1.2rem;
    word-wrap: break-word;
    /*background-color: #c0c0c0;*/
    padding: 1rem;
}

#text_container p {
   margin-top: 2rem;
   line-height: 1.7rem;
}
.hidden_text, .hidden_text_1, .hidden_text_2, .hidden_text_3,.hidden_text_4{
    display: none;
}
.hidden_text a {
    color: black;
}
.hidden_text i {
    margin-left: 1rem;
    padding-right: 0.5rem;
}
.toggle-button {
    width: 8rem;
    height: 1.5rem;
    background-color: #3d3d3c;
    border-radius: 5px;
    margin-top: 0.5rem;
    color: white;
}
#linija {
    width: 100%;
    height: 5rem;
    background-color: black;
}

/*Footer*/
#footer_wrap {
    margin-top: 35rem;
}
#footer {
    width: 86%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 8rem;
    padding-top: 2rem;
}
.footer_column {
    margin-top: 2rem;
}
#footer_column_1 {
    margin-top: 3.8rem;
}
.footer_column ul {
    margin-top: 2rem;
}
.footer_column ul li {
    margin-top: 0.8rem;
}
.footer_column ul li:first-of-type {
    margin-top: 0;
}
.footer_column ul li a {
    color: #3d3d3c;
}
.footer_column h3 {
    font-weight: bold;
}
/*Last Banner*/
#last_banner_wrap{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #3d3d3c;
}
#last_banner {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#last_banner ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
#last_banner ul li a{
    color: white;
    text-decoration: none;
}
#payment {
    width: 86%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    font-size: medium;
    color: #3d3d3c;
    line-height: 25px;
}
#payment h3 {
    margin-top: 2rem;
}
#payment p {
    padding-top: 1rem;
}
#header_responsive, #responsive_menu {
    display: none;
}

@media screen and (max-width:480px) {
   #wrap_head {
    display: none;
   }
   #header_responsive {
    margin: 0 auto;
    width: 86%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
   }
   #responsive_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #777, #444);
    z-index: 1001;
   }
   #responsive_menu li {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   #responsive_menu ul li ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
   }
   #responsive_menu a {
    color: white;
    font-size: 15px;
   }
   #responsive_menu img {
    position: relative;
    left: 75%;
    top:-1.5rem;
   }
   #less {
    z-index: 9999;
    display: none;
   }
   .rotate {
    transform: rotate(180deg);
    }
    #prev {
        left: 1rem;
    }
    #next {
        right: 1rem;
    }
    .custom-arrow {
        top:35%;
    }
    .newArrivals {
        flex-direction: column;
        align-items: center;
    }
    .newArrivalsItem {
        width: 90%;
    }
    .newArrivalsItem .heart {
        position:relative;
        width: 10%;
        height: 10%;
        top: -30rem;
        left: 45%;
    }
    .banners {
        flex-direction: column;
        align-items: center;
    }
    .banner {
        width: 100%;
    }
    .brands {
        flex-direction: column;
        align-items: center;
    }
    .brands img {
        max-width: 100%;
        max-height: 100%
    }
    .brands_we_love {
        width: 100%;
    }
    #newsletter_content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #form_news {
        margin: 1rem 0 0 0;
        padding: 0;
    }
    #footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 4rem;
        padding-top: 0;
    }
    #last_banner {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #last_banner ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    #last_banner ul li {
        margin-top: 2rem;
        text-align: center;
    }
    #banner_open {
        width: 90%;
    }
    #banner_open a{
        top:83%;
        left: 37%;
        background-color: #777;
    }
    #close {
        width: 16px;
        height: 16px;
    }
    #about {
        flex-direction: column;
    }
    #about_content {
        flex-direction: column;
        width: 100%;
    }
    #text_container {
        width: 100%;
    }
    #kontakt {
        width: 100%;
        text-align: center;
    }
    #kontakt form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #kontakt input[type="text"],#kontakt input[type="password"],#kontakt input[type="email"] ,#kontakt textarea {
        width: 80%;
        margin: 1rem auto;
    }
    .toggle-password {
        left: 9rem;
        bottom: 2.9rem;
    }
    #countries, #cities {
        width: 80%;
    }
    #agreements {
        flex-direction: column;
        width: 75%;
    }
    #posalji {
        width: 20rem;
        padding: 1.2rem;
    }
    #footer_wrap {
        margin-top: 45rem;
    }
    
}
@media screen and (min-width:1920px) {
    #header > a {
        margin-left: 25%;
    }
    .brands {
        width: 80%;
        margin-left: 15rem;
        margin-top: 2.5rem;
    }
    #prev {
        left: 8rem;
    }
    #next {
        right: 8rem;
    }
    #prev, #next {
        top: 48%;
    }
}